Repository robotology/wb-toolbox, pull requests merged in 2018-06, with the labels that each got.

#130 Link the Yarp libraries dependencies, instead of using YARP_INCLUDE_DIRS
  toolbox/autogenerated/CMakeLists.txt
Labels: complexity:low, component:cmake, status:in-progress, type:enhancement

#136 Travis dependencies from docker image
  .ci/env-file
  .ci/install.sh
  .ci/script.sh
  .travis.yml
Labels: component:tests, status:feedback, type:cleanup

#135 New Set Motor Parameters block
  doc/release/v4.md
  toolbox/CMakeLists.txt
  toolbox/include/SetLowLevelPID.h
  toolbox/include/SetMotorParameters.h
  toolbox/matlab/+WBToolbox/PID.m
  toolbox/matlab/+WBToolbox/PIDConfiguration.m
  toolbox/matlab/library/WBToolboxLibrary_repository.mdl
  toolbox/matlab/library/exported/WBToolboxLibrary.slx
  toolbox/src/SetLowLevelPID.cpp
  toolbox/src/SetMotorParameters.cpp
  toolbox/src/base/Factory.cpp
Labels: complexity:medium, component:library-wbt, status:feedback, type:enhancement
